@import url(../css/font.css);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    background-color: rgb(179, 205, 246);
}
body{
    width: 100%;
    margin: auto;
    max-width: 1200px;
    background-image: url(../images/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header .encabezado{
    max-width: 1200px;
    width: 100%;
    height: 24.875rem;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat ;
    /* position: relative; */
    position: fixed;
    z-index: 1;

}
.titulo h1{
    text-align: center;
}
nav{
    position: absolute;
    left: 15px;
    bottom: 20px;
}
nav a{
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    box-shadow: 3px 1px 3px 2px #ffffff;
    width: 120px;
    display: inline-block;
}
main{
    min-height: 70vh;
    padding: 404px 60px 40px 60px;
    
}

footer{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer a{
    color: rgb(97, 118, 202);
}

footer img{
    width: 2.5rem;

}
img{
    width: 100%;
}
/* float left */
.left img{
    float: left;
    width: 23.75rem;
    padding: 30px;
}

.right img{
    float: right;
    width: 23.75rem;
    padding: 30px;
}
.clean{
    clear: both;
}

p{
    text-align: justify;
    line-height: 1.3125rem;
    margin-bottom: 10px;
}

.top1{
    padding-top: 2.5%;
}

.contenedor{
    max-width: 850px;
    width: 100%;
    margin: 25px auto;
    /* background-color: rgba(0, 0, 0, 0.6); */
}

.contenedor .fondo{
    background-image: url(../images/universidades.png);
    background-size: 100%;
    padding-top: 55%;
    position: relative;
}

.contenedor .fondo .section{
    width: 33%;
    height: 14%;
    /* background-color: rgba(0, 128, 0, 0.4);
    border: 1px solid red; */
    position: absolute;
}

.contenedor .fondo .section.uno{
    top: 11.5%;
    left: 7%;
    height: 10%;
    width: 28%;
}
.contenedor .fondo .section.dos{
    top: 21.5%;
    left: 40%;
    height: 13%;
    width: 22%;

}
.contenedor .fondo .section.tres{
    top: 44%;
    left: 15%;
    height: 11%;
    width: 18%;
}
.contenedor .fondo .section.cuatro{
    top: 73%;
    left: 10%;
    height: 18%;
    width: 27%;
}
.contenedor .fondo .section.cinco{
    top: 12%;
    left: 73%;
    height: 17%;
    width: 24%;
}
.contenedor .fondo .section.seis{
    top: 49%;
    left: 57%;
    height: 15%;
    width: 30%;
}
.contenedor .fondo .section.siete{
    top: 78%;
    left: 65%;
    height: 14%;
    width: 28%;
}
.contenedor .fondo .ocho{
    position: absolute;
    top: 50%;
    left: 35%; 
}